.container {
  background-color: #fffef0;
  /* height: 100vh; */
}

.text_container, .waitlist_container {
  padding: 3em;
  min-height: 100vh;
}

.text_container > h2 {
  color: rgba(96, 17, 36, 1);
  font-size: 2rem;
  max-width: 12.4em;
  font-weight: 900;
  margin-bottom: 1em;
  line-height: 140%;
  margin-top: 2.5em;
}

.text_container > h3 {
  color: rgba(40, 46, 56, 1);
  font-size: 2.6rem;
  max-width: 13.8em;
  text-align: center;
  margin: 3em auto 1.5em;
  font-weight: 700;
}

.text_container > p {
  color: rgba(38, 50, 56, 1);
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 27.4em;
  margin-bottom: 1.5em;
  line-height: 150%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 57em;
  gap: 1em;
}

.title_label {
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 700;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  padding: 0.5em 1em;
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 0.5em;
  padding-left: 0;
  border-radius: 0;
}
.input::placeholder {
  color: rgba(217, 217, 217, 1);
  font-size: 1.1rem;
}
.input:focus {
  outline: none;
}

.error_input {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.error_label {
  color: rgba(255, 0, 0, 1);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1em;
  visibility: hidden;
}

.error_label.show {
  visibility: visible;
}

.btn {
  color: #fffeff;
  width: 10em;
  height: 2.5em;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  border: none;
  margin-top: 1em;
  align-self: flex-start;
  background-color: rgba(0, 68, 73, 1);
}

.btn.invalid {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn.valid {
  cursor: pointer;
}

.highlight {
  background-color: rgba(215, 255, 194, 1);
  padding: 0 0.4em;
}

.image_container {
  width: 25.5em;
  margin: 0 auto;
}

.image_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
.waitlist_container{
  display: flex;
  flex-direction: column;
}
.waitlist_container > h2 {
  color: rgba(96, 17, 36, 1);
  font-size: 1.7rem;
  max-width: 12.4em;
  font-weight: 800;
  margin-bottom: 1em;
  line-height: 140%;
  margin-top: 4em;


  line-height: 122.7%;
  letter-spacing: -0.487px;
}

.waitlist_top_image {
  margin: 0 auto;
  width: 24.6em;
}

.waitlist_top_image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.waitlist_bottom_container {
  display: flex;
  align-items: center;
  gap: 3em;
  margin: 0 auto;
  width: max-content;
}

.waitlist_bottom_text > h3 {
  color: #004449;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 123.2%;
  letter-spacing: -0.4px;
  max-width: 9.9em;
  margin-bottom: 1em;
}

.waitlist_social_links{
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}

.social_icon{
  width: 2em;
  height: 2em;
  color: rgba(0, 68, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_done_btn{
  color: #fffeff;
  /* width: 8em; */
  height: 2.5em;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  border: none;
  margin-top: 1em;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
